@import "../../Style/color.scss";

.header {
    background-color: transparent;
    height: 100%;
    padding: 17px 32px 20px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .input{
        background-color: #EDE6E6;
        border: none;
        border-radius: 8px;
        input{
            background-color: #EDE6E6;
        }
    }
    .headerRight {
        display: flex;
        align-items: center;
        .iconNotify{
            color: $textColor;
            background-color: transparent;
            margin-right: 24px;
            font-size: 18px;
        }
        .inforContainer {
            display: flex;
            align-items: center;
            .avatar {
                width: 40px;
                height: 40px;
                margin: 0 8px 0 24px;
            }
        }
    }
}
