@import "../../../Style/color.scss";

.manageTicket {
    margin: 0 32px;
    padding: 24px;
    background-color: #fff;
    border-radius: 24px;
    height: 95%;
    .title {
        font-size: 34px;
        line-height: 54px;
        font-weight: 700;
        color: $textColor;
        margin-bottom: 32px;
    }
    .input {
        height: 48px;
        width: 446px;
        background-color: $inputSearchColor2;
        border: none;
        border-radius: 8px;
        input {
            background-color: $inputSearchColor2;
        }
    }
    .btn {
        height: 48px;
    }
    .table {
        margin-top: 24px;
        .link {
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            color: $secondaryColor;
        }
    }
}
.popverContainer{
    .popverText {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        cursor: pointer;
    }
}
